Aufbau nach Miro
vehicle Parameter in vehicletypes.json aus EBusToolbox (kopieren und werte anpassen)

# This file defines the simbev parameters

[region_mode]
# you can either define a scenario for a single region using this config file
# (mode = single_region) or for multiple regions (mode = multi_region)

region_mode = multi


[basic]
# basic parameters for the simulation
# ===========================
# definition of regional type to use for simulating driving behaviour
# efficiency of charging points
# timesteps (should stay at 15 min, best results)
# number of days to simulate, max: 14, suggested: 14 for best results
# minimum soc allowed before fast charging event is triggered
# grid_timeseries enables additional outputs, options: true, false

eta_cp =  1
stepsize = 15
start_date = 2021-09-17
end_date = 2021-09-30
soc_min = 0.2
grid_timeseries = false
grid_timeseries_by_usecase = false

[vehicles]
# all vehicles

vehicles = "./data/examples/trips_example.csv"

[rampup_ev]
# rampup: number of EVs

rampup = fleet.csv

[timetable]
#timetable for busses (for the beginning)
timetable =

[tech_data]
# tech data for EVs
# speed?
# capacity

tech_data = tech_data.csv

[ride length]
# ride length for different scenarios
ridelength = .csv

[charging_probabilities]
# charging probabilities for all locations ??

charging_probabilities = charging_probability.csv
charging_work = 0.7




[sim_params]
# simulation parameters

num_threads = 4
seed = 3

