Aufbau nach Miro
vehicle Parameter in vehicletypes.json aus EBusToolbox (kopieren und werte anpassen)

# This file defines the simbev parameters

[region_mode]
# you can either define a scenario for a single region using this config file
# (mode = single_region) or for multiple regions (mode = multi_region)

region_mode = multi


[basic]
# basic parameters for the simulation
# ===========================
# definition of regional type to use for simulating driving behaviour
# efficiency of charging points
# timesteps (should stay at 1 min, best results) (fix soll nicht verändert werden)
# number of days to simulate, max: 14, suggested: 14 for best results
# minimum soc allowed before fast charging event is triggered
# grid_timeseries enables additional outputs, options: true, false

### stepsize = 1
start_date = 2021-09-17
end_date = 2021-09-30
soc_min = 0.2
grid_timeseries = false
grid_timeseries_by_usecase = false


[vehicles]
# all vehicles
# quantities (zustätzliche .csv analog zu regions (vehicletyp und menge)
vehicles = .scenarios/default/vehicle_types.json

[charging_points]
#json (wie vehicletypes)
# power and quantity, efficiency, Netzanschluss, (station name is charging_point)
# eins zwei Depot und eins zwei induktion
charging_points = .scenarios/default/charging_points.json


[grid]
# opt: eine EE (spiceev)
# opt: Last (Bad Birnach hat evtl. welche)


[schedule]
#timetable for busses (for the beginning)
(# input is a csv with data to how many trips per day, pause times and how long one round takes)
# includes distance and locations
schedule = .scenarios/default/schedule.csv


[sim_params]
# simulation parameters

num_threads = 4
seed = 3

